*{ 
    line-height: 1;
}
body{
    font-family: 'Proxima Nova W01', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    text-align: center;
}
.wrapper{
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.wrapper-small{
    width: 85%;
    margin: 0 auto;
}
.header img{
    width: 100%
}
h1{
    text-transform: uppercase;
    font-size: 1.4375rem;
    font-weight: 500;
    margin: 35px 0 245px;
    color: rgb(34, 34, 34);
}
.btn-sneakers1 img, .btn-sneakers2 img, .btn-sneakers3 img{
    position: absolute;
}
.btn-sneakers1 img{
    top: 430px;
    right: 150px;
}
.btn-sneakers2 img{
    top: 500px;
    right: 30px;
}
.btn-sneakers3 img{
    top: 550px;
    right: 180px;
}
.btn-mais{
    background-color: #cf0a2c;
    width: 10.5rem;
    height: 2.5rem;
    padding: .5rem;
    text-transform: uppercase;
    font-size: 0.5625rem;
    font-weight: 400;
    color: white;
    text-decoration: none;
}
.grid-find-us{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 65px; 
}
.btn-store{
    text-decoration: none;
}
.column-logo{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}