*{ 
    line-height: 1;
}
body{
    font-family: 'Proxima Nova W01', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    text-align: center;
}
.wrapper{
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.wrapper-small{
    width: 90%;
    margin: 0 auto;
}
.header img{
    width: 100%
}
h1{
    text-transform: uppercase;
    font-size: 1.4375rem;
    font-weight: 400;
    margin: 35px 0 210px;
     
}
.btn-sneakers1 img, .btn-sneakers2 img, .btn-sneakers3 img{
    position: absolute;
    cursor: pointer;
}
.btn-sneakers1 img{
    top: 410px;
    right: 130px;
}
.btn-sneakers2 img{
    top: 485px;
    right: 30px;
}
.btn-sneakers3 img{
    top: 530px;
    right: 180px;
}
.footer{
    background: url(Imagens/BG.png) no-repeat top center;
    padding: 50px 0;
}
.btn-mais{
    background-color: #cf0a2c;
    width: 10.5rem;
    height: 2.5rem;
    padding: .5rem;
    text-transform: uppercase;
    font-size: 0.5625rem;
    font-weight: 500;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.grid-find-us{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 65px;
}
.column-map{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}
.column-map a{
    display: flex;
    text-decoration: none;
    color: rgb(34, 34, 34);
    line-height: 2;
}
.column-map a img{
    margin-right: 7px; 
}
.column-logo{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
