*{ 
    line-height: 1;
}
body{
    font-family: 'Proxima Nova W01', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    text-align: center;
}
.wrapper{
    width: 100%;
    margin: 0 auto;
}
.wrapper-small{
    width: 90%;
    margin: 0 auto;
}
.header img{
    width: 100%
}
h1{
    text-transform: uppercase;
    font-size: 1.4375rem;
    font-weight: 400;
    margin: 35px 0 250px;
     
}
.sneakers{
    position: relative;
}
.btn-sneakers1 img, .btn-sneakers2 img, .btn-sneakers3 img{
    position: absolute;
    cursor: pointer;
    background-color: transparent;
}
.btn-sneakers1 img{
    top: -220px;
    right: 120px;
}
.btn-sneakers2 img{
    top: -145px;
}
.btn-sneakers3 img{
    top: -90px;
    right: 160px;
}
.footer{
    background: url(Imagens/BG.png) no-repeat top center;
    padding: 70px 0 30px;
}
.btn-mais{
    background-color: #cf0a2c;
    width: 10.5rem;
    height: 2.5rem;
    padding: .7rem;
    text-transform: uppercase;
    font-size: 0.8125rem;
    font-weight: 500;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.grid-find-us{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 75px;
}
.column-map{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}
.column-map a{
    display: flex;
    text-decoration: none;
    color: rgb(34, 34, 34);
    font-size: 0.875rem;
    line-height: 2;
}
.column-map a img{
    margin-right: 7px; 
}
.column-logo{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}


/* Media Queries */
@media (max-width: 374px) {
    h1{
        font-size: 1.25rem;
    }
}
@media (min-width: 375px) and (max-width:414px) {
    .btn-sneakers1 img{
        top: -220px;
        right: 150px;
    }
    .btn-sneakers3 img{
        top: -90px;
        right: 190px;
    }
}
@media (min-width: 415px) {
    body{
        max-width: 360px;
        max-height: 640px;
        margin: 0 auto; 
    }
}